{# src/webStudent/EtudiantBundle/Resources/views/Etudiant/ajouterEtudiant.html.twig #}
{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}
{% block body %}
<h3>Formulaire etudiant</h3>
 
<table cellspacing="0">
  <form method="post" {{ form_enctype(form) }}>
	{# {{ form_widget(form) }} #}
	</br></br></br>

		{# Exemple pour un champ #}

	<tr>

		{# Génération du label. #}
		<th>{{ form_label(form.nom, "Nom      ") }}</th>
		 
		 
		{# Génération de l'input. #}
		<td>{{ form_widget(form.nom, {'attr': {'placeholder': 'nom'} }) }}</td>
	</tr>

	<tr>
		<th>{{ form_label(form.prenom, "Prenom      ") }}</th>
		<td>{{ form_widget(form.prenom, {'attr': {'placeholder': 'prenom'} }) }}</td>
	</tr>

	<tr>
		<th>{{ form_label(form.adressemail, "Adresse mail      ") }}</th>
		<td>{{ form_widget(form.adressemail, {'attr': {'placeholder': 'adressemail'} }) }}</td>
	</tr>

	<tr>
		<th>{{ form_label(form.telephone, "Telephone      ") }}</th>
		<td>{{ form_widget(form.telephone, {'attr': {'placeholder': 'telephone'} }) }}</td>
	</tr>

	<tr>
		<th>{{ form_label(form.date, "Date      ") }}</th>
		<td>{{ form_widget(form.date, {'attr': {'placeholder': 'date'} }) }}</td>
	</tr>

	<tr>
		<th>{{ form_label(form.section, "Section      ") }}</th>
		<td>{{ form_widget(form.section, {'attr': {'placeholder': 'section'} }) }}</td>
	</tr>

    <tr>
    	<th></th>
    	<td><input type="submit" class="btn btn-primary" /></td>
  	</tr>
  </form>
</table> 
{% endblock %} 