{# src/webStudent/EtudiantBundle/Resources/views/Etudiant/ajouterEntreprise.html.twig #}
{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}
	
	{% block body %}

	
	<div class="span6">
		<h2>Ajouter une Entreprise</h2>
		
		<form class="form-inline" method="post" {{ form_enctype(form) }}>
		<!-- {{ form_errors(form) }} -->
			<table class="table table-striped">
				
				<tr>
					<th>Raison Sociale</th>
					{{ form_errors(form.raisonSociale) }}
					<td>{{ form_widget(form.raisonSociale, {'attr': {'placeholder': 'Raison Sociale'} }) }}</td>
				</tr>
				<tr>
					<th>Rue</th>
					{{ form_errors(form.rue) }}
					<td>{{ form_widget(form.rue, {'attr': {'placeholder': 'Rue'} }) }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					{{ form_errors(form.ville) }}
					<td>{{ form_widget(form.ville, {'attr': {'placeholder': 'Ville'} }) }}</td>
				</tr>
				<tr>
					<th>Code Postal</th>
					{{ form_errors(form.cp) }}
					<td>{{ form_widget(form.cp, {'attr': {'placeholder': 'Code Postal'} }) }}</td>
				</tr>
				
				<tr>
					<td colspan="2" style="text-align:center;"><input type="submit" class="btn btn-success" value="Valider"/>
					<input type="reset" class="btn btn-warning" value="Annuler"/></td>
				</tr>
			</table>
			{{ form_rest(form) }}			 
		</form>
	</div>

	

	{% endblock %}