{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
	
 <h1>Etudiant  </h1>
 <table cellspacing="0">
 <tr>
 		<th>Id </th>
 		<td> {{etudiant.id}}</td>
 	</tr>
 	<tr>
 		<th>Nom </th>
 		<td> {{etudiant.nom}}</td>
 	</tr>
 	<tr>
 		<th>Prenom </th>
 		<td> {{etudiant.prenom}}</td>
 	</tr>
 	<tr>
 		<th>Mail </th>
 		<td> {{etudiant.adressemail}}</td>
 	</tr>
 	<tr>
 		<th>Telephone </th>
 		<td> {{etudiant.telephone}}</td>
 	</tr>
 	<tr>
 		<th>Date Inscription </th>
 		<td> {{etudiant.date|date("d/m/Y")}}</td>
 	</tr>
 	<tr>
 		<th>Section </th>
 		<td> {{etudiant.section.nom}}</td>
 	</tr>
 	
 </table>
{% endblock %}