{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
	
	
		<h1>Afficher les entreprises</h1>
		<p>
			Tableau des Entreprises
		</p>
		<table cellspacing='0'>
		
		<tr>
		<th>Id</th>
		
		<th>Raison Sociale</th>
		<th>Ville</th>
		<th></th>
		</tr>
		
	
		{% for entreprise in listeEntreprise %}
			<tr>
			
				<td>{{ entreprise.id }}</td>
				<td>{{entreprise.raisonsociale}}</td>
				<td>{{entreprise.ville}}</td>
				<td><a href="{{ path('consulterEntrepriseAction', {'id': entreprise.id})}}"> En voir plus</a></td>
				
			</tr>
		{% endfor %}
		
		</table>
		<a href="{{ path('AjouterEntreprise')}}"> Ajouter Entreprise</a>
	 {% endblock %}
