{% extends "webStudentEtudiantBundle:Etudiant:layout.html.twig" %}

	{% block body %}
	
 <h1 >Entreprise  </h1>
  <table cellspacing="0" >
 	
 	<tr>
 		<th>Raison Sociale </th>
 		<td> {{entreprise.raisonsociale}}</td>
 	</tr>
 	<tr>
 		<th>Rue </th>
 		<td> {{entreprise.rue}}</td>
 	</tr>
 	<tr>
 		<th>Ville</th>
 		<td> {{entreprise.ville}}</td>
 	</tr>
 	<tr>
 		<th>Code Postal </th>
 		<td> {{entreprise.cp}}</td>
 	</tr>
 	<tr>
 		<th>Modification</th>
 		<td><a href="{{ path('ModifierEntreprise', {'id': entreprise.id}) }}">Modification</a></td>
 	</tr>
 	
 </table>
 {% endblock %}